<header>
    <div class=logo>@koto2</div>
    <div class=header-menu>
        <ul>
            <li><a class = "dominant_bg_link" href="/feedback">Оставьте отзыв!</a></li>
            <li><a class = "dominant_bg_link" href="/faq">FAQ</a></li>
        </ul>
    </div> 
</header>