<nav>
    <h2>Навигация</h2>
    <ul>
        <li>> <a class = "tab_bg_link" href="/profile">Профиль</a></li>
        <li>> <a class = "tab_bg_link" href="/create">Создать новую публикацию</a></li>
        <li>> <a class = "tab_bg_link" href="/publications/">Читать других людей</a></li>
        <li>> <a class = "tab_bg_link" href="/subscriptions">Подписаться на нового человека</a></li>
        
    </ul>
</nav>