<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/main.css" rel='stylesheet'>
    <link href="../styles/popup.css" rel='stylesheet'>
    <link href="../styles/hoverable.css" rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="faq.css" rel="stylesheet">
    <script src="../scripts/popup.js" defer></script>
    <title>Создать</title>
</head>
<body>
    <%- include("../templates/header.ejs") %>
    <div class="flex-container">
        <div class="site_description">
            <div class="publication">
                <div class="publication_title">Koto2</div>
                <div class = "publication_text">Является второй версией сайта @koto, имеет новый движок NodeJS в качестве серверной части</div>
            </div>
            
        </div>
        <%- include("../templates/navigation.ejs") %>
    </div>   

    <%- include("../templates/footer.ejs") %>
</body>
</html>